@model GroceryStoreRewards.Models.CustomerRecipes

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CustomerRecipes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Recipes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Recipes.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.customer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.customer.UserId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RecipeId" />
        <input type="hidden" asp-for="CustomerId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
