@model GroceryStoreRewards.Models.ConvertAmounts

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>ConvertAmounts</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="sourceAmount" class="control-label"></label>
                <input asp-for="sourceAmount" class="form-control" />
                <span asp-validation-for="sourceAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sourceUnit" class="control-label"></label>
                <input asp-for="sourceUnit" class="form-control" />
                <span asp-validation-for="sourceUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="targetAmount" class="control-label"></label>
                <input asp-for="targetAmount" class="form-control" />
                <span asp-validation-for="targetAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="targetUnit" class="control-label"></label>
                <input asp-for="targetUnit" class="form-control" />
                <span asp-validation-for="targetUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="answer" class="control-label"></label>
                <input asp-for="answer" class="form-control" />
                <span asp-validation-for="answer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
