@{
    ViewData["Title"] = "Grocery Store Rewards: Coupons, Recipes and Meal Plans";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Start liking recipes and receive more customized recipes, coupons and meal plans that fit you and your budget.</p>
