@model GroceryStoreRewards.Models.Customer

@{
    ViewData["Title"] = "Edit";


    Layout = "~/Views/Shared/_Layout.cshtml";


}

<h2>Edit</h2>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preference" class="control-label"></label>
                <input asp-for="Preference" class="form-control" />
                <span asp-validation-for="Preference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<<<<<<< HEAD
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
=======
<<<<<<< HEAD
=======
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
>>>>>>> 40e88245310118682fd9a4ce0e385d7bda2224bf
>>>>>>> 15ad264d96141cd9328f7a3799b8c2d93a299150
